.imgen {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/ba2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}